
.icon-adult:before { content: '\e800'; } /* '' */
.icon-basket:before { content: '\e801'; } /* '' */
.icon-down-open-big:before { content: '\e802'; } /* '' */
.icon-down-open:before { content: '\e803'; } /* '' */
.icon-down-open-1:before { content: '\f004'; } /* '' */
.icon-sort-alt-down:before { content: '\f161'; } /* '' */
.icon-search:before { content: '\f50d'; } /* '' */
